<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My first application with EmberJS</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span class="nav-link">{{#link-to "index"}}Home{{/link-to}}</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">{{#link-to "about"}}About{{/link-to}}</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">{{#link-to "services"}}Services{{/link-to}}</span>
      </li>
      <li class="nav-item dropdown">
        <span class="nav-link">{{#link-to "contact"}}Contact{{/link-to}}</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">{{#link-to "post"}}Post{{/link-to}}</span>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="container">
  <div class="starter-template">
    {{outlet}}
  </div>
</main>